## 변수와 기본 데이터 타입
변수: 하나의 값을 저장할 수 있는 메모리 공간

### 기본 데이터 타입
- 숫자(number): int(정수), float(실수)
- 문자열(string): 'Hello', "Hi"
- 불(boolean): True, False

### 대입연산자
- =대입연산자, ==비교연산자(동등)
- 대입연산자는 우측에 있는 값을 좌측에 대입

### 변수 선언 및 값 대입
```python
name = "체리링"
num = 100
```

In [2]:
num = 50
num = 100
print(num)

100

In [4]:
name = "chulwoong"
flag = True
pi = 3.14
num = 500

NameError: name 'true' is not defined

In [5]:
# 덧셈 계산기
# -> 2개의 숫자를 입력받아서 덧셈을 하고 결과를 출력
def calc_plus(num1, num2):
    total = num1 + num2
    print(total)
    
num1 = 30
num2 = 50
calc_plus(num1, num2)

80

### comment(주석)
- 주석으로 작성 된 부분은 프로그램에 어떤 영향도 주지 않음
- 개발자(사람)가 보기 위한 용도로 사용

In [ ]:
# 주석을 작성해보자.
name = "최철웅"  # 이름
students_num = 121513 # 학번

## print 함수
- 함수란 특정 기능을 반복적으로 호출하여 사용가능한 코드 블럭
- print함수: 해당 변수의 값을 출력
- 콤마(,)로 여러 변수를 나열하면 한 줄에 입력 가능
- 여러 변수 나열시 기본적으로는 한칸 띄어쓰기 후 출력
- 빈줄을 입력하고 싶으면 print()를 사용하면 됨

In [3]:
age = 8
name = "체리"
abc = "abc"
print(name, age, abc)

체리 8 abc

In [5]:
print("Hello")
print() # 한 줄 띄기
print("I'm Cherry:)")

Hello

I'm Cherry:)

### variable naming(변수 이름 규칙)
- 예약어(키워드)를 사용하면 안됨
- 특수문자는 언더바(_)만 허용
- 숫자로 시작하면 안됨
- 공백을 포함할 수 없음

- 대소문자 구별함
- 일반적으로 해당 변수를 표현하고자 하는 정확하고 간결한 이름을 사용하는것이 원칙
  - 코드의 가독성 향상
  - e.g) a = 1000의 경우보다 student_num = 1000로 명시한 것이 변수에 대한 이해가 빠름

In [7]:
# Python 예약어 확인
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [8]:
students_name = "cherry"
ABC = "Tom"

print(abc)
print(ABC)

cherry
Tom

### Naming Method
- snake_case: 소문자로 작성, 합성어는 _사용
- CamelCase: 첫글자 대문자, 합성어 첫글자 대문자
- Python은 snake_case와 CamelCase 모두 사용
  - 변수: snake_case ex) student_num
  - 메서드: snake_case ex) calc_sum()
  - 클래스: CamelCase ex) BoardService
  
- snake_case는 변수와 함수에 사용
- 변수와 함수의 구분은 ()가 있냐 없냐로 구분, ()가 있으면 함수
- CamelCase는 Class에 사용
- Python에서는 첫글자가 대문자면 무조건 CamelCase, 첫글자가 소문자면 snake_case

In [ ]:
# 학생 이름
student_name_last # snake_case
StudentNameLast # CamelCase

In [ ]:
print() # 클래스X, 변수X, 함수O

In [ ]:
# 클래스, 변수, 함수 구분해보기
# print()          => 함수
# list()           => 함수
# soup.select()    => 함수
# math.pi          => 변수
# math.e           => 변수
# class Animal:    => 클래스
# BeautifulSoup()  => 생성자 함수

### 데이터 타입 확인(type 함수)
> type() 함수를 사용하면 데이터의 자료형 확인 가능

In [9]:
a = 10 
print(type(a))

<class 'int'>

### None
- 객체가 참조하고 있는 값이 없음을 의미
- 일반적으로 변수를 선언만 할 때 많이 사용

In [ ]:
num = 100

In [13]:
abc_name = None

print(abc_name)

None

In [ ]:
name = 'cherry'
name2 = 'cherry'
name3 = 'cherry'
name4 = 'tom'

In [ ]:
apple = None
apple = 5
apple = 0

### comparison operator(비교 연산자)
  - 프로그래밍에서는 비교를 할 경우, = 대신 **==**를 사용
  - <, > (작다, 크다)
  - <=, >= (작거나 같다, 크거나 같다)
  - == 같다
  - != 같지 않다
  - 비교 연산자의 결과는 bool 타입

In [1]:
a = 5
b = 4

print(a > b) # True
print(a < b) # False
print(a >= b) # True
print(a <= b) # False
print(a == b) # False
print(a != b) # True

True
False
True
False
False
True

#### **numbers (숫자형 타입)**
 - 정수, 실수로 구성
 - 수학의 기본 연산자(가감승제) 사용 가능

In [3]:
# 나누기(몫) => //
# 나누기(나머지) => %
# 나누기(/) => 소수점 포함

5 % 2

1

In [ ]:
a = 5
b = 4

print(a + b) # 덧셈
print(a * b) # 곱셈
print(a - b) # 뺄셈
print(a // b) # 나누기(몫)
print(a % b) # 나누기(나머지)
print(a ** b) # 제곱

In [2]:
a = 5
b = 4
print(a / b)

1.25

#### **operator priorities (연산자 우선순위)**
  - 기본적인 수학의 연산자와 동일
  - 강제로 연산을 선수하기 위해선, 괄호()를 사용

In [ ]:
a = 5
b = 4

print(a + b * 4)
print((a + b) * 4)

#### **형변환**
- str(): 문자열 형변환
- int(): 정수형 형변환
- float(): 실수형 형변환
> - int()와 float()에 문자열을 넣으면 Error 발생! 반드시 숫자만 사용
> - 문자열 '3.14'를 float()로 형변환 가능, int로 형변환 불가

In [4]:
# 가능
a = 52 # int
print(type(a))

b = str(a)
print(type(b))

c = "3.14" # String
print(type(float(c)))
#     print(type(float(c)))
#  => print(type(float("3.14")))
#  => print(type(3.14))
#  => print('float')
#  => 출력: 'float'

<class 'int'>
<class 'str'>
<class 'float'>

In [4]:
num = 3.14 # float

int(num)

3

In [6]:
num = 3 # int

float(num)

3.0

In [8]:
str = '3'

print(int(str))
print(float(str))

3
3.0

In [11]:
str = '3.14'
print(float(str)) # 정상(3.14)
print(int(str))   # Error

3.14

ValueError: invalid literal for int() with base 10: '3.14'

In [5]:
name = 'cherry'
float(name)

ValueError: could not convert string to float: 'cherry'